body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
  }
  
  .bg {
    
    background-image: url("../img/background.jpg");
    height: 30%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .heading{
      text-align: center;
      font-size: 50px;
  }

  .head{
      margin-top: 70px;
  }

  img{
      height: 100px;
      margin: 15px;
      margin-left: 40%;
  }

  .fileupload{
      margin-top: 40px;
  }

  
